body, md-content {
  background-color: #ededed;
}

md-input-container {
  margin: 0px;
}

md-input-container .md-errors-spacer {
  display: none;
}

md-card {
  margin-left: 22px;
  margin-right: 23px;
}

.graphContent {
  background-color: #fff;
  padding:30px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}